.model-container {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.model-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.model-inputs {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    height: 20px;
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.predict-button {
    background-color: hsl(176, 68%, 64%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.predict-button:hover {
    background-color: #45a049;
}

.model-answer {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
