@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&family=Raleway:wght@400;700&display=swap'); /*font-family: 'Raleway', sans-serif;*/

body{
    font-family: 'Open Sans', sans-serif;
    background-image:linear-gradient(hsl(218, 28%, 15%),hsl(217, 28%, 13%));
    font-size:14px;
}

a{
  font-size: medium;
}

.navbar{
    background-color:transparent;
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    align-items: center;
    padding:0px 50px;
    
}

.right-nav{
    margin-left: auto;
}
.right-nav a{
    color:white;
    list-style-type:none;
    text-decoration:none;
    padding:30px 30px;
    display:inline-block;
}

.right-nav a:hover{
    color:hsl(176, 68%, 64%);
}

.content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}


.section1{
    margin-top:50px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;  
    z-index:1;

}

.logo1{
  width: 250px;
  height: 250px;
}

h1{
    width:800px;
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size:3em;
    line-height:1.5em;
}

h2{
    width:650px;
    color:hsl(0, 0%, 100%);
    font-size:1.5em;
    font-weight:400;
    line-height:1.5em;
}

.get-started{
    width:300px;
    height:60px;
    border-radius:50px;
    border:none;
    background-image:linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size:1.25em;
    margin-top:20px;
    cursor:pointer;
    box-shadow:0px 1px 1px 1px hsl(198, 60%, 50%);
}
.section1 img{
    z-index:1;
    padding-bottom:50px;
}

.get-started:hover{
    background-image:linear-gradient(to left, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}

.mountain{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    background-image: url("https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/bg-curvy-desktop.svg");
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:2;
    padding-top:350px;
}

.mountain-words{
    position:relative;
    margin-top:-100px;
}


.section2{
    width:100%;
    background-color:hsl(217, 28%, 13%);
    padding-top:150px;
    
}

.features{
    display:inline-grid;
    grid-template-columns: 425px 425px;
    grid-column-gap: 120px;
    grid-row-gap:60px;
    grid-template-rows: 300px 300px;
}

.features img{
    height:100px;
}

h3{
    color:hsl(0, 0%, 100%);
    font-size:1.5em;
}

p{
    color:hsl(0, 0%, 100%);
    font-size:1.1em;
    line-height:1.5em;
    font-weight:400;
}

h5{
    margin-top:35px;
}

h6{
    margin-left:40px;
    margin-top:-12px;
    font-weight:200;
}

footer{
    background-color:hsl(216, 53%, 9%);
    margin-top:30px;
    box-sizing: border-box;
    height:500px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    z-index:1;
}

.left p{
    width:300px;
    font-size:1em;
    margin-top:30px;
    margin-left:20px;
}

.left2{
    display:flex;
    justify-content:center;
    align-items:center;
}
